* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

aside {
    background: #3d4f5d;
    flex-basis: 20%;
    padding: 1.5rem;
}

.aside-content {
    color: #aac8db;
    text-align: right;
    margin-top: 150px;
}

aside h3 {
    color: white;
    font-size: 1.3rem;
}

aside p {
    width: 200px;
    margin: 0.4rem 0;
    padding: 0.4rem 0;
}

.btn {
    font-size: 0.8rem;
    text-decoration: none;
    padding: 4px 7px;
    margin: 2px;
    border: 1px solid #aac8db;
    color: white;
    border-radius: 2px;
}

main {
    padding: 1rem;
}

.post {
    color: #b5b0b0;
    padding: 0.6rem 0;
    display: block;
    border-bottom: 1px solid #b5b0b0;
    margin: 0.5rem 0;
}

.heading {
    margin-top: 1.8rem;
}

.salah {
    text-decoration: none;
    color: #60a0d4;
}

.grey-p {
    color: #b5b0b0;
}